<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
  <style>
    @font-face {
      font-family: "Agrandir";
      src: local("Agrandir Regular"), local("Agrandir-Regular"), url("/PPAgrandir-Regular.otf") format("opentype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    html {
      font-family: "Agrandir", sans-serif;
      font-size: 58px;
      color: #ffffff;
      margin-top: 0px;
    }

    body {
      margin: 0;
    }

    p {
      margin-top: 0;
    }
  </style>
</head>

<body>
  <p>Plan de hoy: <%= plan %></p>
</body>

</html>